* {
  font-family: "Open Sans", sans-serif;
  margin: 0;
}

.banner {
  display: flex;
  align-items: center;
  margin: 0 200px;
}
nav {
  display: flex;
  justify-content: space-between;
  margin: 20px 200px;
}
nav ul {
  display: flex;
  align-items: center;
}
ul li {
  list-style: none;
  margin-left: 50px;
}
ul li a {
  text-decoration: none;
}
.brand {
  font-weight: 800;
  font-size: 45px;
}
.m {
  color: orangered;
}
.hire {
  height: 64px;
  border-radius: 5px;
  color: white;
  font-size: 20px;
  font-weight: 700;
  border: 0;
  padding: 18px 35px;
  background-image: linear-gradient(orangered, tomato);
}
.cv {
  height: 64px;
  border-radius: 5px;
  color: white;
  font-size: 20px;
  font-weight: 700;
  border: 0;
  padding: 18px 35px;
  background-image: linear-gradient(orangered, tomato);
  margin-left: 50px;
}
.cv-btn {
  margin-top: 100px;
  display: flex;
}
.banner-title {
  font-weight: 700;
  font-size: 45px;
  margin-bottom: 20px;
}
.author-name {
  font-weight: 600;
  font-size: 75px;
  margin-bottom: 30px;
}
.banner-para {
  color: grey;
}
.header {
  background-image: url(./images/header_bg.png), url(./images/developer.png);
  background-repeat: no-repeat;
  background-position: bottom right, left;
  background-color: #fff8f3;
  margin-top: 0;
}
/* main section */
.main-section {
  max-width: 1140px;
  margin: 0 auto;
}
/* about section syles */
.about-section {
  margin-top: 130px;
  background-color: #fff8f3;
  border-radius: 10px;
  padding: 130px 150px;
  text-align: center;
}
.about-title {
  margin-bottom: 30px;
}
.about-txt {
  color: gray;
  margin-bottom: 30px;
}
.address {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}
.address-name {
  font-weight: bold;
  font-size: 20px;
}
